# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Development
.vercel
.DS_Store
*.log

# Training related
train.py
convert_model.py
fruit_dataset/
fruit_classifier.pth
class_mapping.pth
